:root {
  --color-accent-pry: hsl(163, 72%, 41%);
  --color-accent-sec: hsl(356, 69%, 56%);
  --color-facebook: hsl(208, 92%, 53%);
  --color-twitter: hsl(203, 89%, 53%);
  --color-instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --color-youtube: hsl(348, 97%, 39%);
  --color-dark-bg: hsl(230, 17%, 14%);
  --color-dark-bg-top: hsl(232, 19%, 15%);
  --color-dark-bg-card: hsl(228, 28%, 20%);
  --color-dark-bg-card-hover: hsla(0, 0%, 100%, 0.123);
  --color-dark-text-card: hsl(228, 34%, 66%);
  --color-dark-text: hsl(0, 0%, 100%);
  --color-light-bg: hsl(0, 0%, 100%);
  --color-light-bg-top: hsl(225, 100%, 98%);
  --color-light-bg-card:  hsl(227, 47%, 96%);
  --color-light-bg-card-hover: hsla(0, 0%, 0%, 0.11);
  --color-light-text-card: hsl(228, 12%, 44%);
  --color-light-text: hsl(230, 17%, 14%);
}

.dark-theme {
  --color-bg: var(--color-dark-bg);
  --color-bg-top: var(--color-dark-bg-top);
  --color-bg-card: var(--color-dark-bg-card);
  --color-bg-card-hover: var(--color-dark-bg-card-hover);
  --color-text-card: var(--color-dark-text-card);
  --color-text: var(--color-dark-text);
  --color-toggle-1: hsl(210, 78%, 56%);
  --color-toggle-2: hsl(146, 68%, 55%);
}

.light-theme {
  --color-bg: var(--color-light-bg);
  --color-bg-top: var(--color-light-bg-top);
  --color-bg-card: var(--color-light-bg-card);
  --color-bg-card-hover: var(--color-light-bg-card-hover);
  --color-text-card: var(--color-light-text-card);
  --color-text: var(--color-light-text);
  --color-toggle-1: hsl(230, 22%, 74%);
  --color-toggle-2: hsl(230, 22%, 74%);
}

.card1 {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card2 {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.card3 {
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.card4 {
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.card5 {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.card6 {
  -webkit-transition: all 1.8s ease-in-out;
  transition: all 1.8s ease-in-out;
}

.card7 {
  -webkit-transition: all 2.1s ease-in-out;
  transition: all 2.1s ease-in-out;
}

.card8 {
  -webkit-transition: all 2.4s ease-in-out;
  transition: all 2.4s ease-in-out;
}

.card9 {
  -webkit-transition: all 2.7s ease-in-out;
  transition: all 2.7s ease-in-out;
}

.card10 {
  -webkit-transition: all 3.0s ease-in-out;
  transition: all 3.0s ease-in-out;
}

.card11 {
  -webkit-transition: all 3.3s ease-in-out;
  transition: all 3.3s ease-in-out;
}

.card12 {
  -webkit-transition: all 3.6s ease-in-out;
  transition: all 3.6s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

body {
  background: var(--color-bg);
  max-width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 0.93333rem;
  font-weight: 400;
}

h1, h2 {
  color: var(--color-text);
  font-size: 1.46667rem;
  line-height: 2.26667rem;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  h1, h2 {
    font-size: 1.66667rem;
    line-height: 2.46667rem;
  }
}

h2 {
  font-size: 1.33333rem;
}

h3, p {
  color: var(--color-text-card);
  font-size: 0.86667rem;
  line-height: 1.33333rem;
  font-weight: 700;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.header {
  max-width: 100%;
  min-height: 15.33333rem;
  background-color: var(--color-bg-top);
  border-radius: 0rem 0rem 3.33333rem 3.33333rem;
}

.header__container {
  max-width: 73.33333rem;
  min-height: 5rem;
  margin: 0rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.33333rem;
}

@media screen and (min-width: 602px) {
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 5rem;
  border-bottom: 0.13333rem solid var(--color-bg-card);
}

@media screen and (min-width: 602px) {
  .header__title {
    border-bottom: none;
  }
}

.header__theme {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 602px) {
  .header__theme {
    border-bottom: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.toggle__btn {
  background: -webkit-gradient(linear, left top, right top, from(var(--color-toggle-1)), to(var(--color-toggle-2)));
  background: linear-gradient(to right, var(--color-toggle-1), var(--color-toggle-2));
  min-width: 2.66667rem;
  min-height: 1.33333rem;
  border-radius: 1.66667rem;
  border: none;
  border-color: none;
  padding: 0.2rem;
  cursor: pointer;
}

@media screen and (min-width: 602px) {
  .toggle__btn {
    margin-left: 1rem;
  }
}

.toggle__btn:hover {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(to right, #378fe6, #3eda82);
}

.toggle__btn-inner {
  background: var(--color-bg);
  width: 1.06667rem;
  height: 1.06667rem;
  border-radius: 100%;
  -webkit-box-shadow: 0rem 0rem 0.13333rem var(--color-bg);
          box-shadow: 0rem 0rem 0.13333rem var(--color-bg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggle__active {
  -webkit-transform: translateX(1.13333rem);
          transform: translateX(1.13333rem);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.followers {
  max-width: 100%;
  min-height: 6.66667rem;
  background: transparent;
  -webkit-transform: translateY(-5.33333rem);
          transform: translateY(-5.33333rem);
}

@media screen and (min-width: 602px) {
  .followers {
    -webkit-transform: translateY(-8rem);
            transform: translateY(-8rem);
  }
}

.followers__container {
  max-width: 73.33333rem;
  margin: 0rem auto;
  padding: 1.33333rem;
  display: -ms-grid;
  display: grid;
  gap: 1.33333rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 13.33333rem;
}

.follower {
  background-color: var(--color-bg-card) !important;
  border-radius: 0.33333rem;
  border-top: 0.13333rem solid transparent;
  -webkit-box-shadow: 0rem 0rem 0.13333rem var(--color-bg-card-hover);
          box-shadow: 0rem 0rem 0.13333rem var(--color-bg-card-hover);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follower:hover {
  background-color: var(--color-bg-card-hover);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  -webkit-transform: translateY(-0.66667rem);
          transform: translateY(-0.66667rem);
}

.follower__username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.6rem 0rem 2.33333rem 0rem;
}

.follower__username p {
  font-size: 0.8rem;
}

.follower__username i {
  font-size: 1.33333rem;
  padding-right: 0.66667rem;
}

.follower__count p {
  text-align: center;
  text-transform: uppercase;
}

.follower__count-text {
  color: var(--color-text);
  font-size: 3.33333rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.follower__count-subtext {
  font-size: 0.66667rem;
  font-weight: 400;
  margin-bottom: 1.66667rem;
  letter-spacing: 0.4rem;
  padding-left: 0.33333rem;
}

.follower__gain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.follower__gain > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.follower__gain i {
  padding-right: 0.26667rem;
}

.facebook {
  color: var(--color-facebook);
}

.twitter {
  color: var(--color-twitter);
}

.instagram {
  background-image: var(--color-instagram);
  background-size: 0%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 0.66667rem;
}

.instagram-initial {
  padding-right: 0rem;
}

.youtube {
  color: var(--color-youtube);
}

.border-top-instagram {
  width: 100%;
  height: 0.13333rem;
  border-radius: 3.33333rem 3.33333rem 0rem 0rem;
  -webkit-transform: translateY(-0.06667rem);
          transform: translateY(-0.06667rem);
  background-image: var(--color-instagram);
}

.border-top-facebook,
.border-top-twitter,
.border-top-youtube {
  width: 100%;
  height: 0.13333rem;
  border-radius: 3.33333rem 3.33333rem 0rem 0rem;
  -webkit-transform: translateY(-0.06667rem);
          transform: translateY(-0.06667rem);
  background-color: var(--color-facebook);
}

.border-top-twitter {
  background-color: var(--color-twitter);
}

.border-top-youtube {
  background-color: var(--color-youtube);
}

.fall {
  color: var(--color-accent-sec);
}

.rise {
  color: var(--color-accent-pry);
}

.overview {
  max-width: 100%;
  min-height: 6.66667rem;
  background: transparent;
  -webkit-transform: translateY(-5.33333rem);
          transform: translateY(-5.33333rem);
}

@media screen and (min-width: 602px) {
  .overview {
    -webkit-transform: translateY(-8rem);
            transform: translateY(-8rem);
  }
}

.overview__container {
  max-width: 73.33333rem;
  margin: 0rem auto;
  padding: 1.33333rem;
}

.overview__contain {
  max-width: 100%;
  min-height: 6.66667rem;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem 1.33333rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 7rem;
}

.stat {
  max-width: 100%;
  background-color: var(--color-bg-card);
  border-radius: 0.33333rem;
  -webkit-box-shadow: 0rem 0rem 0.13333rem var(--color-bg-card-hover);
          box-shadow: 0rem 0rem 0.13333rem var(--color-bg-card-hover);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.66667rem 0rem;
}

.stat:hover {
  background-color: var(--color-bg-card-hover);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.stat__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.66667rem 0rem;
  padding: 0rem 0.66667rem;
}

.stat__one i {
  text-align: right;
  font-size: 1.33333rem;
}

.stat__gain i {
  padding-right: 0.2rem;
  font-size: 0.93333rem;
}

.stat__number p {
  font-size: 1.66667rem;
  color: var(--color-text);
}
/*# sourceMappingURL=style.css.map */