//* Convert pixel to rem automatically
@function rem($size) {
    $remSize: $size / 15;
    @return #{$remSize}rem;
}
//*Media queries: Mixins
@mixin media-query ($size) {
    @if $size == desktop {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
    @else if $size == tablet {
        @media screen and (min-width: 992px) {
            @content;
        }
    } 
    @else if $size == tablet-mini {
        @media screen and (min-width: 786px) {
            @content;
        }
    } 
    @else if $size == large-mobile {
        @media screen and (min-width: 602px) {
            @content;
        }
    } 
    @else if $size == mobile {
        @media screen and (min-width: 300px) {
            @content;
        }
    } 
}

//* ========== Root Colors
:root {
    // Primary Accent Colors
    --color-accent-pry: hsl(163, 72%, 41%);
    --color-accent-sec: hsl(356, 69%, 56%);

    // Social Media Icon Colors
    --color-facebook: hsl(208, 92%, 53%);
    --color-twitter: hsl(203, 89%, 53%);
    --color-instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --color-youtube: hsl(348, 97%, 39%);

    // Default Dark Theme Color
    --color-dark-bg: hsl(230, 17%, 14%);
    --color-dark-bg-top: hsl(232, 19%, 15%);
    --color-dark-bg-card: hsl(228, 28%, 20%);
    --color-dark-text-card: hsl(228, 34%, 66%);
    --color-dark-text: hsl(0, 0%, 100%);

    //Default Light Theme Color
    --color-light-bg: hsl(0, 0%, 100%);
    --color-light-bg-top: hsl(225, 100%, 98%);
    --color-light-bg-card:  hsl(227, 47%, 96%);
    --color-light-text-card: hsl(228, 12%, 44%);
    --color-light-text: hsl(230, 17%, 14%);
}

.dark-theme {
    --color-bg: var(--color-dark-bg);
    --color-bg-top: var(--color-dark-bg-top);
    --color-bg-card: var(--color-dark-bg-card);
    --color-text-card: var(--color-dark-text-card);
    --color-text: var(--color-dark-text);
}

.light-theme {
    --color-bg: var(--color-light-bg);
    --color-bg-top: var(--color-light-bg-top);
    --color-bg-card: var(--color-light-bg-card);
    --color-text-card: var(--color-light-text-card);
    --color-text: var(--color-light-text);
}
.card1 {
    transition: all 0.3s ease-in-out;
}
.card2 {
    transition: all 0.6s ease-in-out;
}
.card3 {
    transition: all 0.9s ease-in-out;
}
.card4 {
    transition: all 1.2s ease-in-out;
}
.card5 {
    transition: all 1.5s ease-in-out;
}
.card6 {
    transition: all 1.8s ease-in-out;
}
.card7 {
    transition: all 2.1s ease-in-out;
}
.card8 {
    transition: all 2.4s ease-in-out;
}
.card9 {
    transition: all 2.7s ease-in-out;
}
.card10 {
    transition: all 3.0s ease-in-out;
}
.card11 {
    transition: all 3.3s ease-in-out;
}
.card12 {
    transition: all 3.6s ease-in-out;
}
//* ========== Font Weights
$weight-regular: 400;
$weight-bold: 700;

//* ========== Font Family
$font-main: 'Inter', sans-serif;

//* ========= Max Width
$width-max: rem(1100);

//! CSS BASE RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//* Set core root defaults
html:focus-within {
    scroll-behavior: smooth;
}
img {
    display: block;
    width: 100%;
}
body {
    background: var(--color-bg);
    max-width: 100%;
    min-height: 100vh;
    // padding: rem(20);
    font-family: $font-main;
    font-size: rem(14);
    font-weight: $weight-regular;
}
// .sr-only {
//     border: 0 !important;
//     clip: rect(1px, 1px, 1px, 1px) !important;
//     -webkit-clip-path: inset(50%) !important;
//             clip-path: inset(50%) !important;
//     height: 1px !important;
//     margin: -1px !important;
//     overflow: hidden !important;
//     padding: 0 !important;
//     position: absolute !important;
//     width: 1px !important;
//     white-space: nowrap !important;
//   }

//* ========== Typography
h1, h2 {
    color: var(--color-text);
    font-size: rem(22);
    line-height: rem(34);
    font-weight: $weight-bold;
}

h2 {
    font-size: rem(20);
}
h3, p {
    color: var(--color-text-card);
    font-size: rem(13);
    line-height: rem(20);
    font-weight: $weight-bold;
}

//* ========= Section Header 

.header {
    max-width: 100%;
    min-height: rem(230);
    background-color: var(--color-bg-top);
    border-radius: rem(0) rem(0) rem(50) rem(50);

    &__container {
        max-width: $width-max;
        min-height: rem(75);
        margin: rem(0) auto;
        display: flex;
        flex-direction: column;
        padding: rem(20);

        @include media-query(desktop) {
            flex-direction: row;
        }
    }

    &__title {
        flex: 1;
        min-height: rem(75);
        // border-bottom: rem(1) solid darken(red, $amount: 90);

        @include media-query(desktop) {
            border-bottom: none;
        }
    }

    &__theme {
        flex: 1;
        min-height: rem(45);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-query(desktop) {
            border-bottom: none;
            justify-content: flex-end;
        }
    }
}

.toggle__btn {
    background: var(--color-accent-pry);
    min-width: rem(40);
    min-height: rem(20);
    border-radius: rem(25);
    border: none;
    border-color: none;
    padding: rem(3);
    // box-shadow: inset rem(0) rem(0) rem(7) darken(var(--color-accent-pry), $amount: 15);
    @include media-query(desktop) {
        margin-left: rem(15);
    }

    &-inner {
        background: var(--color-bg);
        width: rem(16);
        height: rem(16);
        border-radius: 100%;
        box-shadow: rem(0) rem(0) rem(2) var(--color-bg);
        transition: all 0.5s ease-in-out;

    }
}

.toggle__active {
    transform: translateX(rem(17));
    transition: all 0.5s ease-in-out;
}

//* ========== Follower Cards

.followers {
    max-width: 100%;
    min-height: rem(100);
    background: transparent;
    transform: translateY(rem(-80));

    &__container {
        max-width: $width-max;
        margin: rem(0) auto;
        // background-color: blue;
        padding: rem(20);
        display: grid;
        gap: rem(20);
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: rem(200);
    }
}

.follower {
    background-color: var(--color-bg-card);
    border-top: rem(3) solid red;
    border-radius: rem(5);
    box-shadow: rem(0) rem(0) rem(2) var(--color-bg-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    // & > * {
    //     // flex: 1;
    //     // justify-self: center;
    // }
    &__username {
        // background-color: red;
        // min-height: rem(30);
        display: flex;
        margin: rem(24) rem(0) rem(35) rem(0);
        p {
            font-size: rem(12);
        }
        i {
            font-size: rem(20);
            padding-right: rem(10);
        }
    }

    &__count {
        p {
            text-align: center;
            text-transform: uppercase;
            // font-weight: $weight-regular;
        }

        &-text {
            color: var(--color-text);
            font-size: rem(50);
            margin-bottom: rem(15);
            font-weight: $weight-bold;
        }
        &-subtext {
            font-size: rem(10);
            font-weight: $weight-regular;
            margin-bottom: rem(25);
            letter-spacing: rem(6);
            padding-left: rem(5);
        }
    }
    &__gain {
        display: flex;

        & > * {
            align-self: center;
        }
        
        i {
            padding-right: rem(10);
        }
    }
}


.facebook {
    color: var(--color-facebook);
    border-color: var(--color-facebook);
}
.twitter {
    color: var(--color-twitter);
    border-color: var(--color-twitter);
}
.instagram {
    // color: transparent;
    color: (--color-instagram);
    border-color: var(--color-instagram);
}
.youtube i {
    color: var(--color-youtube);
    border-color: var(--color-youtube);
}
.fall {
    color: var(--color-accent-sec);
}
.rise {
    color: var(--color-accent-pry);
}


//* ========== Overview Section

.overview {
    max-width: 100%;
    min-height: rem(100);
    background: transparent;
    transform: translateY(rem(-80));

    &__container {
        max-width: $width-max;
        margin: rem(0) auto;
        // background-color: blue;
        padding: rem(20);
    }
    &__contain {
        max-width: 100%;
        min-height: rem(100);
        margin-top: rem(30);
        // padding: rem(20);
        display: grid;
        gap: rem(15) rem(20);
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: rem(105);
    }
}

.stat {
    max-width: 100%;
    background-color: var(--color-bg-card);
    border-radius: rem(5);
    box-shadow: rem(0) rem(0) rem(2) var(--color-bg-card);
    display: flex;
    flex-direction: column;
    padding: rem(10) rem(0);

    &__one {
        // background-color: #fff;
        display: flex;
        justify-content: space-between;
        margin: rem(10) rem(0);
        padding: rem(0) rem(10);

        i {
            text-align: right;
            font-size: rem(20);
        }
    }
    
    &__gain {

        i {
            padding-right: rem(2);
        }

    }

    &__number p {
        font-size: rem(25);
        color: var(--color-text)
    }
}
